@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .header {
    @apply bg-cover bg-fixed bg-center bg-no-repeat;
  }

  .content-basic {
    @apply fixed right-4 top-28 mr-2 block select-none;
  }

  .content-sm {
    @apply sm:fixed sm:right-4 sm:top-28 sm:mr-2 sm:block sm:select-none;
  }

  .content-md {
    @apply md:fixed md:right-4 md:top-28 md:mr-2 md:block md:select-none;
  }

  .content-lg {
    @apply lg:fixed lg:right-6 lg:top-28 lg:mr-2 lg:block lg:select-none;
  }

  .content-xl {
    @apply xl:fixed xl:right-6 xl:top-28 xl:mr-2 xl:block xl:select-none;
  }

  /* .css-main-outlet {
    @apply ml-0 max-h-[750px] w-[1220PX] min-w-[400px] overflow-auto border-r-[1px] border-solid border-zinc-300 sm:ml-0 md:ml-64;
  }

  .css-page-content {
    @apply ml-2 w-[1150px] min-w-[400px] overflow-auto sm:ml-2 md:ml-8;
  } */

  .css-main-outlet {
    @apply ml-0 max-h-[750px] w-[1590px] min-w-[400px] overflow-auto border-r-[1px] border-solid border-zinc-300 sm:ml-0 md:ml-64;
  }

  .css-page-content {
    @apply ml-2 w-[1520px] min-w-[400px] overflow-auto sm:ml-2 md:ml-8;
  }

  /* .css-main-outlet {
    @apply ml-0 w-full min-w-[400px] overflow-auto sm:ml-0 md:ml-64;
  }

  .css-page-content {
    @apply ml-2 max-h-[750px] w-[1340px] min-w-[400px] overflow-auto sm:ml-2 md:ml-10;
  } */

  .css-ul {
    @apply ml-4 border-l-2 pl-4;
  }

  .css-title {
    @apply my-8 inline-block select-none rounded-md bg-teal-500 px-2 py-1 text-xl capitalize tracking-widest text-white;
  }
  .css-fa-bars {
    @apply fixed left-5 top-16 z-50 cursor-pointer bg-blue-950 text-white md:hidden;
  }
}

:root {
  --light: #fff;
  --dark: #181b24;
  --grey: #899495;
  --orange: #fc5130;
  --sectionGrey: #f2f2f2;
  --letterSpace: 0.15rem;
  --sectionWhite: #fff;
}

.top-nav-font {
  font-family: "Source Sans Pro Topnav", sans-serif;
}

.css-blur-bg-right {
  background: linear-gradient(to left, #282a35 70%, transparent 100%);
}

.css-blur-bg-left {
  background: linear-gradient(to right, #282a35 70%, transparent 100%);
}

.header {
  height: 33rem;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/header_banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* z-index: -1; */
}

.developer-image {
  background-image: url("./assets/developer.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
}

/*******************************
************ header ************
********************************/
.header_banner {
  min-height: 50vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/header_banner.jpg") center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--dark);
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700;
}

.banner__title {
  font-size: 4rem;
  letter-spacing: var(--letterSpace);
  margin-bottom: 0.5rem;
  font-style: italic;
  text-transform: capitalize;
  color: var(--light);
}

.banner__jobs {
  letter-spacing: var(--letterSpace);
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--light);
}

/*******************************
********* end of  header *******
********************************/

/*******************************
***********  about    **********
********************************/

.about__center {
  max-width: 90vw;
  margin: 2rem auto;
}

.about-img {
  margin: 3rem 0;
  position: relative;
}
.about-img__photo {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.about-img:before {
  content: "";
  background: var(--grey);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.about-info {
  margin: 3rem 0;
}

.about-info__title {
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpace);
  background: url("./assets/about_me_2.svg") no-repeat;
}
.about-info__text {
  color: var(--grey);
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 3rem 0;
}
.about-info__single-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: var(--letterSpace);
  text-transform: capitalize;
  border: 3px solid var(--dark);
  transition: all 1s linear;
  margin-right: 1rem;
}

.dark-btn {
  background: var(--dark);
  color: var(--light);
}

.dark-btn:hover {
  background: var(--light);
  color: var(--dark);
}
.light-btn {
  color: var(--dark);
}

.light-btn:hover {
  background: var(--dark);
  color: var(--light);
}

@media screen and (min-width: 992px) {
  .about__center {
    display: flex;
    justify-content: space-between;
  }
  .about-info,
  .about-img {
    flex: 0 0 calc(50% - 1rem);
  }
  .about-info {
    display: flex;
    align-items: flex-start;
  }
}
/*******************************
********* end of  about  *******
********************************/

/*******************************
************* Tree *************
********************************/

.tree,
.tree ul {
  list-style: none;
  padding-left: 2em;
  margin: 0;
}

.tree ul {
  display: none;
}

.tree input[type="checkbox"] {
  display: none;
}

.tree input[type="checkbox"]:checked + label + ul {
  display: block;
}

.tree label {
  cursor: pointer;
  user-select: none;
}

/*******************************
************* Tree *************
********************************/
